<h1 id="tableLabel">Weather forecast</h1>


<input (input)="onCodeInput($event.target.value)" />
<button (click)="onRequestClick()">Search</button>



<p *ngIf="!forecasts; else weatherTemplate"><em>Please, search by ZIP code</em></p>

<p *ngIf="loading">Loading...</p>

<ng-template #weatherTemplate>
  <h2>{{forecasts.cityName}}</h2>
  <img [src]="'http://openweathermap.org/img/w/' + forecasts.icon + '.png'" style="float: left;" />
  <p>
    Timezone: {{forecasts.timezone}}<br />
    Temperature: {{Temperature}}<br />
  </p>
  <ul>
    <li (click)="setTemperatureType(1)">K</li>
    <li (click)="setTemperatureType(2)">C</li>
    <li (click)="setTemperatureType(3)">F</li>
  </ul>

</ng-template>

